{
    "presets": [
        "flow",
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "node": 6
                }
            }
        ]
    ],
    "plugins": [],
    "env": {
        "test": {
            "presets": ["flow", ["env"]]
        }
    }
}
